<div class="container p-3 bg-light my-3 rounded">
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>#</td>
            <td>Cliente</td>
            <td>Costo de Venta (G.)</td>
            <td>Fecha Hora</td>
            <td>Total cobrado</td>
            <td>Estado Deuda</td>
            <td>Estado del Cobro</td>
            <td>Última Actualización</td>
        </tr>
    </thead>
    <tbody>
         {{#each data}}
            <tr>
                <td>{{venta_id}}</td>
                <td>{{cliente_nombre}}</td>
                <td>{{fmt_numero venta_precio_total}}</td>
                <td title="{{venta_fecha_hora}}">{{fecha venta_fecha_hora}}</td>
                <td>{{fmt_numero venta_cobro}}</td>
                <td>{{venta_estado}}</td>
                <td>{{venta_cobro_estado}}</td>
                <td title="{{venta_cobrada_fechahora}}">{{hace venta_cobrada_fechahora}}</td>
            </tr>
        {{/each}}
    </tbody>
    
</table>
</div>

